// SASS Module
@import './colors';
@import './buttons';

body {
  font-family: 'Rubik', sans-serif;
}

.header{
  font-weight: map-get($map: $font-weight, $key: semibold);
  color: $navy;
  font-size: 46px;
  line-height: 60px;
  margin-top: 22px;
}

.description {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 30px;
  color: $newpur;
  font-weight: map-get($map: $font-weight, $key: regular);
}

.navbar-tp {
  padding-top: 30px;
  .navbar-nav {
    li {
      padding-left: 40px;
    }
    .active {
      color: $purple !important;
      font-weight: map-get($map: $font-weight, $key: medium) !important;
    }

    .nav-link {
      color: $navy;
      font-weight: map-get($map: $font-weight, $key: regular);
    }
  }
}

.sales {
  padding-top: 60px;
  .brand {
    margin-top: 50px;
    text-align: center;
    .brand-logos {
      width: 440px;
    }
  }
  .copywriting {
    padding-left: 60px;
  }
}

.pricing {
  background: $lilpur;
  padding: 70px 0 70px 0;
  margin-top: 70px;
  .master-card {
    padding: 30px;
    border-radius: 22px;
    .btn {
      width: 100%;
      margin-top: 20px;
    }
    .item-benefit {
      margin-bottom: 20px;
      img {
        width: 22px;
        float: left;
        margin-right: 8px;
      }
      p {
        font-size: 16px;
        font-weight: map-get($map: $font-weight, $key: medium);
      }
    }
    .name {
      font-size: 18px;
      font-weight: map-get($map: $font-weight, $key: medium);
    }
    .price {
      font-size: 36px;
      font-weight: map-get($map: $font-weight, $key: semibold);
      margin-top: 16px;
      margin-bottom: 16px;
    }
    .support {
      font-size: 16px;
      font-weight: map-get($map: $font-weight, $key: regular);
      margin-bottom: 40px;
    }
  }
  .basic-card {
    @extend .master-card;
    background: $white;
    .name {
      color: $navy;
    }
    .price {
      color: $navy;
    }
    .support {
      color: $newpur;
    }
    .item-benefit {
      p {
        color: $navy;
      }
    }
  }
  .most-card {
    @extend .master-card;
    background: $purple;
    .btn-primary {
      background: $aqua !important;
    }
    .name {
      color: $white;
    }
    .price {
      color: $white;
    }
    .support {
      color: $supportpurple;
    }
    .item-benefit {
      p {
        color: $white;
      }
    }
  }
}